
<div class="jumbotron text-center">
    <h3 class="display-3">Oh no, your payment failed</h3>
    <p class="lead"> We were unable to process your payment, please try again a little bit later</p>
    <hr>

    <p class="lead">
        <a class="btn btn-primary btn-sm" href="@Url.Action("List", "ComicBooks")" role="button">Back to store</a>
    </p>
</div>