
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Checkout Complete.</strong> We sent you an email with order details</p>
    <hr>

    <p class="lead">
        <a class="btn btn-primary btn-sm" href="@Url.Action("List", "ComicBooks")" role="button">Continue shopping</a>
    </p>
</div>

