@*@model PagedList.IPagedList<ComicStoreMVC.Models.ComicBookViewModel>*@
@model PagedList.StaticPagedList<ComicStoreMVC.Models.ComicBookViewModel>

    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "List";
    }

    @{
        Layout = "_MasterComicBook.cshtml";
    }

    <div class="col-sm-offset-8 row mt-2 mb-2">

        @foreach (var item in @Model)
        {
            @Html.Partial("~/Views/Partials/ComicSummary.cshtml", item)

        }
    </div>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("List", new { page }))

    @*class="row mt-5 mb-2*@


