@using ComicStoreMVC.Models
@model IEnumerable<PublisherViewModel>

<ul>

    @{
        foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Name, "List", "ComicBooks", new { page = 1, publisherId = item.Id }, null)
            </li>
        }
    }
</ul>