@model IEnumerable<ComicStoreMVC.Models.OrderDetailsViewModel>



@{
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}


<table class="table">
    <tr>

        <th class="text-center">
            Price
        </th>
        <th class="text-center">
            Comic Book
        </th>
        <th class="text-center">
            Quantity
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.BookPrice)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Orders", "Orders", "Admin")
</div>
