@using ComicStoreMVC.Models
@model IEnumerable<PublisherViewModel>

<ul>
    @{
        foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Name, "ComicBooksByPublisher", "ComicBooks", new { page = 1, category = item.Id },
               new { @class = "btn btn-block btn-default btn-lg" })
            </li>
        }
    }
</ul>
