
@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Checkout Complete</h2>
<p>Thanks for your order!</p>
<p>
    How about shopping for some more comics in our 
    @Html.ActionLink("store",
"List", "ComicBooks")
</p>
