@model PagedList.IPagedList<ComicStoreMVC.Models.ApplicationUser>
@using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    Layout = "~/Views/Admin/_AdminMaster.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div>
                @using (Html.BeginForm("Users", "Admin", FormMethod.Get))
                {
                    @Html.TextBox("search", null, new { @class = "SearchBox" })
                    <input type="submit" value="Search" />
                }
            </div>
        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <div>

            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th class="text-center">
            Email
        </th>
        <th class="text-center">
            Login Name
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Users", new { page }))



