@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="~/wwwroot/css/customerror.css" rel="stylesheet" />
    <title>error</title>
</head>

<body>
    <div class="error-500" data-text="Oh no! Something went wrong. We will be back soon!">
        <spaguetti>
            <fork></fork>
            <meat></meat>
            <pasta></pasta>
            <plate></plate>
        </spaguetti>
    </div>
    <script src="~/wwwroot/js/customerrorjs.js"></script>

</body>
</html>
